/* CSS Document */

@import url('https://fonts.googleapis.com/css?family=Lato:400,700,900');

* { -webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box; }
html {font-size: 100%;overflow-y: scroll;-webkit-text-size-adjust: 100%;-ms-text-size-adjust: 100%;}

html,
button,
input,
select,
textarea {font-family: 'Lato', Arial, Verdana, sans-serif;font-size: 16px;font-weight: 400;}

body {font-family: 'Lato', Arial, Verdana, sans-serif; color: #000000; font-size:16px; line-height: 1.4; margin: 0; padding: 0;}

a {color: #326196;text-decoration: underline; font-weight: 700;}
a:visited {color: #326196;	text-decoration: underline;}
a:focus {outline: thin dotted;}
a:active {color: #035D67; outline: 0;}
a:hover {color: #7AA637}

h1,h2,h3,h4,h5,h6 {
	font-weight: 700;
	line-height: 1.2;
    padding: 0;
    margin: 20px 0 10px;
    color: #000000;
}

h1 /*header*/ {font-size: 240%; margin: 40px 0 10px}
h2 /*subheader*/  {font-size: 140%; margin: 20px 0 40px}  
h3 /*section header*/{font-size: 180%; margin: 20px 0 10px;} 
h4 /*section titles*/ {font-size: 140%; font-weight: 400;}
h5 /*labels & intro*/ {font-size: 120%;}
h6 /*notes*/ {font-size: 90%; } 

p {	margin: 0 0 20px; }
b, strong {font-weight: 700;}
img{max-width: 100%; height: auto;}
	
.pw {width: 100%; max-width: 1280px; padding: 0 40px;margin: 0 auto;}

	.blue {color: #326196}
	.ltBlue{color:  #3BC7E5}
	.teal{color:  #035D67}
	.green{color:  #7AA637}
	.orange{color:  #DC6016}
	.yellow{color:  #D89B2B}

a.button-link{display: table; color: #ffffff; font-size: 18px; line-height: 1; text-align: center; text-decoration: none; 
	background-color:#7aa637; padding: 14px 20px; margin: 20px 0; border-radius: 10px; box-shadow: 2px 2px 4px rgba(0,0,0,0.6)}
a:hover.button-link{color: #ffffff; background-color: #DC6016;box-shadow: 1px 1px 2px rgba(0,0,0,0.8)	}
a:active.button-link{color: #ffffff; background-color: #035D67;box-shadow: 0px 0px 1px rgba(0,0,0,0.8)	}


/*content*/
.site-header{min-height: 120px;}
.utility-nav{min-height: 30px; font-size: 12px; line-height: 1; text-align: right; padding: 16px 20px 0 0}
.home-link {display:block; float: left; width: 350px; height: 60px; background: url(images/total_rewards_benefits_2x.png) left center no-repeat; background-size: contain; font-size: 0;}
.search-box{float: right; padding: 8px 20px 2px 10px;}
.search-box input {
	font-size: 16px;
    padding: 2px 4px 4px 60px;
	margin: 0;
    height: 46px;
    width: 320px;
    border: 0;
    border-radius: 0;
    background: #e4f2f4 url(images/magnify.png) 10px 50% no-repeat;
    background-size: 40px;
}
::-webkit-input-placeholder {font-style:italic; color:#035D67}
::-moz-placeholder{font-style:italic; color:#035D67}
:-ms-input-placeholder{font-style:italic; color:#035D67}
:-moz-placeholder {font-style:italic; color:#035D67}

.promo-content {
    background: url(/images/photos/father_carry_child.jpg) center;
     background-size: cover; min-height: 460px; padding-top: 120px;}
.promo-content h1 {font-size: 400%; color: #ffffff; text-shadow: 2px 2px 4px rgba(0,0,0,0.6)}
.promo-content h2, .promo-content h3 {color: #ffffff; text-shadow: 2px 2px 4px rgba(0,0,0,0.6)}

.page-header{min-height: 60px; background: #035D67 url(images/bg_header_shapes.png) center repeat-x; background-size: 100px}
.page-title{margin-bottom: 50px;}

.site-content {padding-top: 40px; padding-bottom: 40px;}
.content-left, .content-right {display: inline-block; width: 48%; vertical-align: top;}
.video-container {max-width: 540px; padding-bottom: 40px;}

.site-footer{padding: 40px 20px 0}
.footer-logo, .footer-tagline {display: block; width: 100%; max-width: 380px; height: 60px; background-size: contain; background-repeat: no-repeat}
.footer-logo {background-image:url(images/danaher_logo_2x.png)}
.footer-tagline{float: right; background-image:url(images/danaher_tagline_2x.png)}
.copyright{font-size: 12px; line-height: 1; text-align: right; padding: 60px 0 10px; }	


/*search box*/
/* #searchwrapper {
    height: 70px;
    max-width: 1280px;
} */

/* #searchbar {
    float: right;
    padding: 8px 20px 2px 10px;
    /* padding: 24px 0;
    transition: 0.5s;
    position: absolute;
    background: rgba(255, 255, 255, 0.95);
    z-index: 99;
    width: 100%;
    text-align: center; */


    /* font-size: 16px;
    padding: 2px 4px 4px 60px;
    margin: 0;
    height: 46px;
    width: 320px;
    border: 0;
    border-radius: 0;
    background: #e4f2f4 url(images/magnify.png) 10px 50% no-repeat;
    background-size: 40px */

/* }
.searchbar input {
	font-size: 16px;
    padding: 2px 4px 4px 60px;
	margin: 0;
    height: 46px;
    width: 320px;
    border: 0;
    border-radius: 0;
    background: #e4f2f4 url(images/magnify.png) 10px 50% no-repeat;
    background-size: 40px;
} */ 

#searchbar form #mainsearch, #searchbar form #tipue_search_input {
    /* 
    padding: 4px 4px 4px 60px;
    height: 44px;
    width: 80%;
    max-width: 880px;
    border: solid 1px #ccc;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    box-shadow: 1px 1px 6px #ccc;
    background: #fff url("../img/icon_search.png") 12px 50% no-repeat;
    background-size: 30px; */

    font-size: 1.em;
    font-size: 16px;
    padding: 2px 4px 4px 60px;
    margin: 0;
    /* height: 44px; */
    width: 320px;
    height: 46px;
    float: right;
    /* max-width: 880px; */
    border: solid 1px #ccc;
    /* -moz-border-radius: 4px;
    -webkit-border-radius: 4px; */
    border-radius: 4px;
    box-shadow: 1px 1px 6px #ccc;
    background: #e4f2f4 url(../images/magnify.png) 10px 50% no-repeat;
    background-size: 40px;
}

#searchbar #suggestions {
    position: relative;
    display: none;
    z-index: 9999;
    position: absolute;
    width: 100%;
}

#searchbar #suggestions > div {
    text-align: left;
    margin: auto;
    font-size: 1.2em;
    padding: 18px 0;
    max-height: 200px;
    overflow: auto;
    width: 88%;
    max-width: 940px;
    border: solid 1px #ccc;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    box-shadow: 1px 1px 6px #ccc;
    background: #fff;
}

#searchbar #suggestions > div p {
    font-weight: 700;
    padding: 0 28px;
}

#searchbar #suggestions > div li {
    position: relative;
    font-size: .9em;
    padding: 12px 28px 12px 80px;
    transition: 0.3s;
}

#searchbar #suggestions > div li:hover {
    background-color: #f2f2f2;
}


#searchbar #suggestions > div li.pdf:before {
    content: "";
    width: 20px;
    height: 22px;
    position: absolute;
    left: 34px;
    display: inline-block;
    background: transparent url("../img/icon.png") -25px 1px no-repeat;
    background-size: 68px;
}

#searchbar #suggestions > div li.video:before {
    content: "";
    width: 23px;
    height: 22px;
    position: absolute;
    left: 34px;
    display: inline-block;
    background: transparent url("../img/icon.png") 0 0 no-repeat;
    background-size: 75px;
}

/* #searchbar.active {
    padding: 10px 0;
    top: 0;
    position: fixed;
    box-shadow: 1px 1px 3px #ccc;
} */
@media only screen and (max-width: 600px) {
    /* line 49, ../sass/partials/_searchbar.scss */
    #searchbar #suggestions div {
        width: 96%;
    }
    }
/*scroll link*/
#totop {
    z-index: 999;
    cursor: pointer;
    padding: 5px 0;
    width: 60px;
    height: 60px;
    position: fixed;
    bottom: -200px;
    right: 16px;
    background-color: rgba(3,93,103, 0.40);
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    border-radius: 100%;
    transition: 0.5s;
}

#totop:hover {background-color: rgba(3,93,103, 0.80);}
#totop div {
	display: block;
	width: 60px;
	height: 60px;
	background: transparent url(images/arrow_up.png) top center no-repeat;
	background-size: 24px;
    color: #fff;
    font-size: 14px;
    text-align: center;
    line-height: 1;
	text-transform: uppercase;
	padding-top: 30px;
}




/*accordions*/
h4.accord {
    position: relative;
    transition: 0.4s;
    color: #035d67;
    text-align: left;
    cursor: pointer;
    width: auto;
    margin: 0;
    padding: 16px 10px 16px 40px;
    font-weight: normal;
    line-height: 1;
    border-top: solid 1px #ddd;
    border-bottom: solid 1px #ddd;
}

h4.accord:first-of-type {margin-top: 40px;}
/* h4.accord:last-of-type {margin-bottom: 60px;} */
h4.accord:hover {color: #ffffff; background-color: #035d67;}
h4.accord.active {background-color: #035D67; color: #ffffff;}

h4.accord:before, h3.panel.active:before  {
    opacity: 1;
    transition: 0.4s;
    content: "";
    width: 20px;
    height: 20px;
    float: left;
    position: absolute;
    top: 16px;
    left: 10px;
    display: inline-block;
}

h4.accord:before{background: transparent  url("images/plusminusv.png") 0 0 no-repeat; background-size: 20px;}
h4.accord:hover:before {background: transparent url("images/plusminusv.png") 0 -20px no-repeat; background-size: 20px;}
h4.accord.active:before {background: transparent url("images/plusminusv.png") 0 -40px no-repeat; background-size: 20px;}

div.accord {padding: 20px 60px;}

/*tiles*/

/*** replacing css**/
.content {
    padding-top: 45px;
    max-width: 1280px;
    margin: auto;
}

.herotitle {
    font-size: 1.3em;
    margin: 0 48px 6px;
    font-weight: 700;
}
/* line 2, ../sass/partials/_hero.scss */
.hero {
    width: auto;
    /* margin: 0 40px 50px; */
}
/* line 4, ../sass/partials/_hero.scss */
.hero .tileboxbt {
    margin: 0 6px;
    position: relative;
    background-size: cover;
    background-position: 50% top;
    background-repeat: no-repeat;
    /* border: solid 1px #ddd; */
}
/* line 9, ../sass/partials/_hero.scss */
/* .hero .tileboxbt .text-mask {
    position: absolute;
    width: 100%;
    height: 40%;
    bottom: 0;
    background: rgba(0, 0, 0, 0.28);
    /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(transparent, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.9));
    /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(transparent, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.9));
    /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(transparent, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.9));
    /* For Firefox 3.6 to 15 */
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.9));/* Standard syntax */
} */
/* line 12, ../sass/partials/_hero.scss */
.hero .tileboxbt.boxbg-cvs-yellow {
    background-color: #F3DA23;
}
/* line 26, ../sass/partials/_mixins.scss */
.hero .tileboxbt.boxbg-cvs-yellow:hover {
    background-color: #F5E04B;
}
/* line 13, ../sass/partials/_hero.scss */
.hero .tileboxbt.boxbg-cvs-green {
    background-color: #74AD0A;
}
/* line 26, ../sass/partials/_mixins.scss */
.hero .tileboxbt.boxbg-cvs-green:hover {
    background-color: #85C70C;
}
/* line 14, ../sass/partials/_hero.scss */
.hero .tileboxbt.boxbg-cvs-orange {
    background-color: #EA7600;
}
/* line 26, ../sass/partials/_mixins.scss */
.hero .tileboxbt.boxbg-cvs-orange:hover {
    background-color: #ff9528;
}
/* line 15, ../sass/partials/_hero.scss */
.hero .tileboxbt.boxbg-cvs-purple {
    background-color: #93277E;
}
/* line 26, ../sass/partials/_mixins.scss */
.hero .tileboxbt.boxbg-cvs-purple:hover {
    background-color: #c334a7;
}
/* line 16, ../sass/partials/_hero.scss */
.hero .tileboxbt.boxbg-cvs-turq {
    background-color: #0085B2;
}
/* line 26, ../sass/partials/_mixins.scss */
.hero .tileboxbt.boxbg-cvs-turq:hover {
    background-color: #0095C6;
}
/* line 17, ../sass/partials/_hero.scss */
.hero .tileboxbt.boxbg-cvs-babyblue {
    background-color: #B8E3EB;
}
/* line 26, ../sass/partials/_mixins.scss */
.hero .tileboxbt.boxbg-cvs-babyblue:hover {
    background-color: #e8f6f8;
}
/* line 18, ../sass/partials/_hero.scss */
.hero .tileboxbt.boxbg-cvs-lightgray {
    background-color: #e1e1e1;
}
/* line 26, ../sass/partials/_mixins.scss */
.hero .tileboxbt.boxbg-cvs-lightgray:hover {
    background-color: white;
}
/* line 19, ../sass/partials/_hero.scss */
.hero .tileboxbt.boxbg-cvs-gray {
    background-color: #D1CCCC;
}
/* line 26, ../sass/partials/_mixins.scss */
.hero .tileboxbt.boxbg-cvs-gray:hover {
    background-color: #eeecec;
}
/* line 20, ../sass/partials/_hero.scss */
.hero .tileboxbt.boxbg-cvs-medgray {
    background-color: #8C8C8C;
}
/* line 26, ../sass/partials/_mixins.scss */
.hero .tileboxbt.boxbg-cvs-medgray:hover {
    background-color: #ababab;
}
/* line 21, ../sass/partials/_hero.scss */
.hero .tileboxbt.boxbg-cvs-darkgray {
    background-color: #646464;
}
/* line 26, ../sass/partials/_mixins.scss */
.hero .tileboxbt.boxbg-cvs-darkgray:hover {
    background-color: #838383;
}
/* line 22, ../sass/partials/_hero.scss */
.hero .tileboxbt.boxbg-cvs-pink {
    background-color: #FB7096;
}
/* line 26, ../sass/partials/_mixins.scss */
.hero .tileboxbt.boxbg-cvs-pink:hover {
    background-color: #fdacc2;
}
/* line 23, ../sass/partials/_hero.scss */
.hero .tileboxbt.boxbg-cvs-navy {
    background-color: #00334B;
}
/* line 26, ../sass/partials/_mixins.scss */
.hero .tileboxbt.boxbg-cvs-navy:hover {
    background-color: #005d88;
}
/* line 24, ../sass/partials/_hero.scss */
.hero .tileboxbt.boxbg-cvs-red {
    background-color: #B20000;
}
/* line 26, ../sass/partials/_mixins.scss */
.hero .tileboxbt.boxbg-cvs-red:hover {
    background-color: #CC0000;
}
/* line 26, ../sass/partials/_hero.scss */
.hero .tileboxbt .tilebox {
    min-height: 160px;
    padding: 18px 0;
    
    /*
      $direction: row | row-reverse | column |column-reverse
      $wrap: nowrap | wrap | wrap-reverse
      $justify: flex-start | flex-end | center | space-between | space-around
      $valign: flex-start | flex-end | center | baseline | stretch
  *//*display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  -webkit-align-items: center;
  align-items: center;*/
}
/* line 27, ../sass/partials/_hero.scss */
.hero .tileboxbt .tilebox h2 {
    font-size: 1.3em;
    font-weight: normal,
}
/* line 30, ../sass/partials/_hero.scss */
.hero .tileboxbt .tilebox h2.text-white {
    color: #fff;
}
/* line 31, ../sass/partials/_hero.scss */
.hero .tileboxbt .tilebox h2.text-black {
    color: #000;
}
/* line 35, ../sass/partials/_hero.scss */
.hero .tileboxbt .tilebox.icon-video:before {
    content: "";
    background: transparent url("../img/icon.png") -77px -132px no-repeat;
    background-size: 160px;
    width: 40px;
    height: 40px;
    display: block;
    position: absolute;
    right: 8px;
    top: 7px;
    transform: translate(0%, 0%);
}
/* line 36, ../sass/partials/_hero.scss */
.hero .tileboxbt .tilebox.icon-pdf:before {
    content: "";
    background: transparent url("../img/icon.png") -90px 0 no-repeat;
    background-size: 120px;
    width: 28px;
    height: 36px;
    display: block;
    position: absolute;
    right: 8px;
    top: 6px;
    transform: translate(0%, 0%);
}
/* line 39, ../sass/partials/_hero.scss */
.hero .tileboxbt.align-bottom:hover {
    opacity: 0.8;
}
/* line 40, ../sass/partials/_hero.scss
.hero .tileboxbt.align-bottom .tilebox {
/*
      $direction: row | row-reverse | column |column-reverse
      $wrap: nowrap | wrap | wrap-reverse
      $justify: flex-start | flex-end | center | space-between | space-around
      $valign: flex-start | flex-end | center | baseline | stretch
  */
  /*display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  -webkit-align-items: flex-end;
  align-items: flex-end;*/
/* } */ 
/* line 43, ../sass/partials/_hero.scss */
.hero .tileboxbt.boxbg-logo, .hero .tileboxbt.transparency {
    border-color: #ccc;
}
/* line 45, ../sass/partials/_hero.scss */
.hero .tileboxbt.boxbg-logo .text-mask, .hero .tileboxbt.transparency .text-mask {
    display: none;
}
/* line 47, ../sass/partials/_hero.scss */
.hero .tileboxbt.boxbg-logo .tilebox h2, .hero .tileboxbt.transparency .tilebox h2 {
    width: 100%;
    text-align: center;
}

@media only screen and (max-width: 1180px) {
/* line 53, ../sass/partials/_hero.scss */
.herotitle {
    margin-left: 34px;
}
/* line 54, ../sass/partials/_hero.scss */
.hero {
    width: auto;
    margin: 0 0 50px;
}
/* line 56, ../sass/partials/_hero.scss */
.hero .tileboxbt {
    margin: 0 3px;
}
/* line 58, ../sass/partials/_hero.scss */
.hero .tileboxbt .tilebox {
    min-height: 132px;
    padding: 10px 0;
}
/* line 59, ../sass/partials/_hero.scss */
.hero .tileboxbt .tilebox h2 {
    font-size: 1.1em;
    padding: 0 10px;
}
}

@media only screen and (max-width: 1024px) {
/* line 64, ../sass/partials/_hero.scss */
.herotitle {
    font-size: 1em;
    margin-left: 34px;
}
/* line 65, ../sass/partials/_hero.scss */
.hero {
    width: auto;
}
/* line 67, ../sass/partials/_hero.scss */
.hero .tileboxbt {
    margin: 0 2px;
}
/* line 69, ../sass/partials/_hero.scss */
.hero .tileboxbt .tilebox {
    padding: 8px 0;
}
/* line 70, ../sass/partials/_hero.scss */
.hero .tileboxbt .tilebox h2 {
    font-size: 1em;
    padding: 0 8px;
}
/* line 71, ../sass/partials/_hero.scss */
.hero .tileboxbt .tilebox.icon-video:before {
    content: "";
    background: transparent url("../img/icon.png") 0 0 no-repeat;
    background-size: 124px;
    width: 39px;
    height: 39px;
}
/* line 72, ../sass/partials/_hero.scss */
.hero .tileboxbt .tilebox.icon-pdf:before {
    content: "";
    background: transparent url("../img/icon.png") -67px 0 no-repeat;
    background-size: 90px;
    width: 22px;
    height: 27px;
}
}
@media only screen and (max-width: 768px) {
    #tipue_drop_content {
        margin: 2px !important;
        right: 0 !important;
        top: 80px;
        margin-right: 0;
        width: 396px;
    }
    .hero .tileboxbt .tilebox h2 {
        font-size: 1em;
        padding: 15px 8px;
    }
    .tilebox {
        position: absolute;
        bottom: 0;
    }
    #tipue_search_input {
        width: 100% !important;
    }
    #tipue_drop_content {

        width: 100% !important;
    
    }
    .tipue_drop_box {
        width: 100%;
    }
    #tipue_drop_content {
        margin:0 !important;
        right: 0 !important;
        top: 193px !important;
        margin-right: 0;
        width: 396px;
    }
}
@media only screen and (max-width: 585px) {
    .slick-prev, .slick-next{
        display: none !important;
    }

}
@media only screen and (max-width: 1180px) {
    .hero .tileboxbt .tilebox h2 {
        font-size: 1em;
        padding: 15px 8px;
    }
    .tilebox {
        position: absolute !important;
        bottom: 0;
    }
    
}
@media only screen and (min-width: 768px) {
    .tipue_drop_box {
        width: 90%;
    }
    #tipue_drop_content {
        top: 147px !important;
        }
}
@media only screen and (min-width: 1024px) {
    #tipue_drop_content {
        right: 0;
        top: 74px !important;
        margin-right: 22px !important;
        width: 354px;
    }
    
}
@media only screen and (min-width: 1440px) {
    #tipue_drop_content {
        right: 0;
        top: 74px !important;
        margin-right: 102px !important;
        width: 354px;
    }
    
}
@media only screen and (min-width: 1530px) {
    #tipue_drop_content {
        right: 0;
        top: 74px !important;
        margin-right: 142px !important;
        width: 354px;
    }
    
}
@media only screen and (max-width: 600px) {
/* line 77, ../sass/partials/_hero.scss */
#tipue_drop_content {
    margin:0 !important;
    right: 0 !important;
    top: 193px !important;
    margin-right: 0;
    width: 396px;
}
.tipue_drop_box {
    float: right;
}
.herotitle {
    font-size: .9em;
    margin-left: 6px;
}
/* line 78, ../sass/partials/_hero.scss */
.hero {
    width: auto;
    margin: 0 0 20px;
}
/* line 81, ../sass/partials/_hero.scss */
.hero .tileboxbt .tilebox {
    min-height: 100px;
    position: absolute;
    bottom: 0;
    width: 100%;
}
/* line 82, ../sass/partials/_hero.scss */
.hero .tileboxbt .tilebox h2 {
    font-size: .9em;
    padding: 10px;
}
}
div#tipue_drop_content {
    margin-right: 142px;
}
/* slick override */
/* line 3, ../sass/partials/_components.scss */
.slick-prev:before, .slick-next:before {
    color: #999 !important;
    opacity: .6 !important;
    font-size: 28px !important;
}
/* line 4, ../sass/partials/_components.scss */
.slick-prev:hover:before, .slick-next:hover:before {
    opacity: 1 !important;
}
/* line 5, ../sass/partials/_components.scss */
.slick-disabled {
    visibility: hidden;
}
/* line 7, ../sass/partials/_components.scss */
.slick-prev, .slick-next {
    width: 34px !important;
    height: 34px !important;
    padding: 0;
}
/* line 15, ../sass/partials/_components.scss */
.slick-prev {
    left: -33px;
}
/* line 18, ../sass/partials/_components.scss */
.slick-prev:before {
    content: '';
    width: 34px;
    height: 34px;
    display: block;
    background: transparent url("../img/icon.png") 9px -44px no-repeat;
    background-size: 112px;
}
/* line 21, ../sass/partials/_components.scss */
.slick-next {
    right: -33px;
}
/* line 24, ../sass/partials/_components.scss */
.slick-next:before {
    content: '';
    width: 34px;
    height: 34px;
    display: block;
    background: transparent url("../img/icon.png") -24px -44px no-repeat;
    background-size: 112px;
}





a.tileboxbt{
	display: inline-block;
	width: 286px;
	height: 161px;
    margin: 0 4px;
    position: relative;
	background-color: rgba(3,93,103, 1.0);
    background-size: cover;
    background-position: 50% top;
    background-repeat: no-repeat;
    border: none; 
	overflow: hidden;
	text-decoration: none;
	text-align: center;
	border-radius: 0px 40px 0px 0px; /*top left, top right, bottom right, bottom left */
}

/* a:nth-of-type(1n).tileboxbt.h3{ background:beige; } */
a:nth-of-type(2n).tileboxbt{border-radius: 0 0 0 40px;}
a:nth-of-type(3n).tileboxbt{border-radius: 40px 0 0 0;}
a:nth-of-type(4n).tileboxbt{border-radius: 0 0 40px 0;}
a:hover.tileboxbt{background-color: rgba(3,93,103, 0.8);}

.tilebox {display: table; position: relative; width: 100%; min-height: 140px; padding-top: 18px;}
.tilebox-inner{display: table-cell; vertical-align: bottom;text-align: center;}
.tilebox h2 {
    display: block;
    background-color: rgba(3,93,103, 0.60);
    padding: 10px;
    margin: -1px;
    color: #ffffff;
    font-size: 14px;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.4);
    position: absolute;
    width: 100%;
    bottom: 0;
}
a:hover.tileboxbt .tilebox h2 {
    display: block;
    background-color: rgba(3,93,103, 0.90);
    padding: 13px;
    margin: -1px;
    color: #ffffff;
    font-size: 14px;
}
.tilebox-content {padding: 10px 20px ; text-align: left;}
.tilebox-content h1, .tilebox-content h2, .tilebox-content h3 {color: #ffffff; padding: 0; line-height: 1.2; margin: 0; text-shadow: 1px 1px 2px rgba(0,0,0,0.4)}


#decide1 a.tileboxbt{background-color:rgba(122,166,55, 1.0); border-radius: 0px 0px 0px 40px;}
#decide1 a:nth-of-type(2n).tileboxbt{border-radius: 40px 0 0 0;}
#decide1 a:nth-of-type(3n).tileboxbt{border-radius: 0 0 40px 0;}
#decide1 a:nth-of-type(4n).tileboxbt{border-radius: 0 40px 0 0;}
#decide1 a:hover.tileboxbt{background-color:rgba(122,166,55, 0.8);}
#decide1 .tilebox h2{background-color: rgba(122,166,55, 0.60);}
#decide1 a:hover.tileboxbt .tilebox h2{background-color: rgba(122,166,55, 0.90);}
	
#enroll1 a.tileboxbt{background-color: rgba(220,96,22, 1.0); border-radius: 40px 0 0 0;}
#enroll1 a:nth-of-type(2n).tileboxbt{border-radius: 0 0 40px 0;}
#enroll1 a:nth-of-type(3n).tileboxbt{border-radius: 0 40px 0 0;}
#enroll1 a:nth-of-type(4n).tileboxbt{border-radius: 0 0 0 40px;}
#enroll1 a:hover.tileboxbt{background-color: rgba(220,96,22, 0.8);}
#enroll1 .tilebox h2{background-color: rgba(220,96,22, 0.60);}
#enroll1 a:hover.tileboxbt .tilebox h2{background-color: rgba(220,96,22, 0.90);}

/** RWD */
.rwd-tester {display: none; position:fixed; top: 0; right: 0; width: 50px; height: 50px; z-index: 99999999}	

@-ms-viewport {width: device-width;}

@viewport {	width: device-width;}

@media (max-width: 1199px) {
	 /*RWD #bigpicture, #moreDetail, #otherCon {max-width: 640px }- just for review*/
}

@media (max-width: 899px) {

	/*yellow */	.rwd-tester {background: #ff0} 

	
.footer-logo, .footer-tagline {max-width: 280px; height: 44px;}

}

@media (max-width: 767px) {

	/*green*/.rwd-tester {background: #0f0; }

	
h1 /*header*/ {font-size: 220%; }
h2 /*subheader*/  {font-size: 140%;}  
h3 /*section header*/{  } 

p {	margin: 0 0 10px; }

.pw {padding: 0;}

.utility-nav{min-height: 40px; padding: 10px 60px 0 20px; text-align: left;}
.home-link { float: none; margin: 20px auto;}
.searchbar{float: none; padding: 8px 0 2px 0;}
.searchbar input {width: 100%;}

.promo-content {min-height: 360px; padding: 60px 20px 20px;}
.promo-content h1 {font-size: 200%;}
	
.page-header{min-height: 40px; background-size: 80px}
.page-title{margin-bottom: 30px;}

.site-content {padding: 20px;}
.content-left, .content-right {display: block; width: 100%;}
.video-container {padding-bottom: 20px;}
div.panel {padding: 20px;}

.site-footer{padding: 20px}
.footer-logo, .footer-tagline {float: none;  margin: 0 auto}

.copyright{ padding: 20px; text-align: center;}	


}
div#dateDiv h1 {
    margin: 0;
}
div#dateDiv  {
    margin-left:40px;
}
h1#days {
    font-size: 33px;
}